# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Anaconda
anaconda_projects/

# VS Code
.vscode/

# Virtual Environments
venv/
.env

# JetBrains IDEs
.idea/

# Run Checks Backup
scripts/run_checks_day9_backup.py
